<% if user_signed_in? %>
    <div class="row">

      <%= render 'shared/sidebar' %>

      <div class="col-md-6">
        <h4>the postings</h4>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="row">
      <!-- style="background-image: url(<%#= @static_page_image %>);">-->

          <div class="col-md-6">

              <span>
              welcome to ist - ur . org
              <p>
                This is the further development of a<br>
                former course and examination project<br>
                of the <%= link_to 'HackerPartie', 'https://github.com/HackerPartie' %>
              </p>
              <p></p>
              <%= link_to 'sign up', new_user_registration_path, class: 'btn btn-warning' %>
              &nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
              <%= link_to 'sign in', new_user_session_path, class: 'btn btn-success' %>
              <br>
              </span>

            <br><br>

            <div class="row">
              <div class="col-md-12">
                <%= image_tag @static_page_image, class: 'uploaded_image' %>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <ol class="microposts">
                <%= render @micropost %>
            </ol>
          </div>

    </div>


<% end %>