<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/user_show_sidebar' %>
  </aside>
  <div class="col-md-6">
    <section id="new_message">
      <p>
        <% if @user.avatar_url.nil? %>
            <%= image_tag @user.gravatar_url, width: 32, class: 'img-rounded' %>
        <% else %>
            <%= image_tag @user.avatar.thumb, width: 32, class: 'img-rounded' %>
        <% end %><br>
        <%= @user.name %>
      </p>
      <%= form_tag( { :controller => 'messages', :action => 'create' }, method: :post ) do %>

          <div>
            <%= label_tag :subject %><br>
            <%= text_field_tag :subject, nil, class: 'form-control' %>
          </div>

          <div>
            <%= label :body, 'message text' %><br>
            <%= text_area_tag :body, nil, class: 'form-control' %>
          </div>

          <div>
            <%= hidden_field_tag(:user, @user.id) %>
          </div>

          <div>
            <%= submit_tag 'vamos!!', class: 'btn btn-primary' %>
          </div>

      <% end %>
    </section>
  </div>
</div>
