<%	 provide :title, 'register yourself' %>
<div class="rows">
  <div class="col-md-5">

<h4>Connect yourself to the ur-org universe</h4>

<!--
    = form_for(resource, :as => resource_name,
    :url => registration_path(resource_name), :html => {:multipart => true}) do |f|
    - # ...other form fields
    = f.label :avatar do
    = f.file_field :avatar
    = f.hidden_field :avatar_cache
-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>

    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: 'well' %>
        <%#= f.hidden_field :avatar_cache %>
    <%# end %>

    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>

    <br>
    <b>
      What the hell is the result of 6 times 7?
      <!--<span id="multiply"></span>?-->
    </b>


    <input id="register_multiplication" class="form-control" onkeyup="register_multiply_result()">

    (And subtract three or add a string of eleven unique characters)

  </div>

  <div class="actions">
    <%= f.submit "Sign up", id: 'register_submit',  class: 'btn btn-success', disabled: true %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
</div>

<script>
    window.onload = register_multiply();
</script>

