<%= content_tag_for :li, comment do %>
    <span class="gravatar">
      <% if comment.user.avatar_url.nil? %>
        <%= image_tag comment.user.gravatar_url, width: '32', class: 'img-rounded' %>
      <% else %>
        <%= image_tag comment.user.avatar.thumb, width: '32', class: 'img-rounded' %>
      <% end %>
    </span>
    <span class="content">
      <%#= mention_link simple_format(auto_link(strip_tags(comment.body))) %>
      <%= mention_link comment.body_html %>
    </span>
    <span class="timestamp">
        <small>
          <%= link_to comment.user.name, comment.user %> am
          <%= comment.created_at.strftime('%d.%m.') %> um
          <%= comment.created_at.strftime('%H:%M') %>
        </small>
    </span>

<% end %>
