<%= form_for(@comment, html: { multipart: true} ) do |f| %>
    <div class="form-group">
      <%= render 'shared/error_messages', object: f.object  %>

      <div class="field">
        <%= f.text_area :body, class: 'form-control expandable' %>
      </div>
      <div>
        <%#= @micropost.id %>
        <%#= f.hidden_field :micropost_id, :value => @micropost.id %>
        <%#= current_user.id %> <%#= @comment.user.id %> <%#= @comment.user.name %>
      </div>
      <div class="actions">
        <%= f.submit 'update this', id: 'submit', class: 'btn btn-sm btn-success' %>
      </div>
    </div>
<% end %>
<%= button_to 'escape', user_post_path(slug: @comment.micropost.user.slug, id: @comment.micropost.id), id: 'escape', class: 'btn btn-sm btn-danger', method: :get %>

