from:  <%= @answer.comment.user.name %>
comment: <%= @answer.comment.body %>
visit:
<a href="https://ist-ur.org/<%= @answer.micropost.user.slug %>/<%= @answer.micropost.id %>">
  https://ist-ur.org/<%= @answer.micropost.user.slug %>/<%= @answer.micropost.id %>
</a>
original posting:  <%= @answer.micropost.content %>
