<div class="container">
  <div class="general">
    <span>Unbelievable, </span><%= link_to @answer.comment.user.name, single_user_url(@answer.comment.user) %><span> drafted a response</span>
  </div>

  <% if @answer.is_a?(Answer) %>
    <%= link_to user_post_url(slug: @answer.micropost.user.slug, id: @answer.micropost.id) do %>
        <div class="general comment_body">
          <%= @answer.comment.body %>
        </div>
    <% end %>
  <% elsif @answer.is_a?(PhotoComment) %>
      <%= link_to photo_url(id: @answer.photo.id) do %>
          <div class="general comment_body">
            <%= @answer.comment.body %>
          </div>
      <% end %>
  <% end %>


  <% if @answer.is_a?(Answer) %>
    <div class="general">
      <b>visit:</b> <%= link_to 'klick', user_post_url(slug: @answer.micropost.user.slug, id: @answer.micropost.id) %>
    </div>

    <div class="general">
      <% original_posting = Scalpel.cut(@answer.micropost.content) %>
      <b>original posting:</b>  <%= original_posting[0][0..60] + '...' %>
    </div>
  <% elsif @answer.is_a?(PhotoComment) %>
      <div class="general">
        <b>visit:</b> <%= link_to 'klick', photo_url(id:@answer.photo.id) %>
      </div>
  <% end %>
</div>


<style>

    .container {
        max-width: 500px;
        border: 1px solid #999;
        border-radius: 5px;
        margin: 0px auto;
    }

    .general {
        padding: 20px;
        text-align: center;
        line-height: 1.6em;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 1.0em;
    }

    a {
        text-decoration: none;
        color: #0055ff;
    }

    .comment_body {
        background-color: #eee;
        color: #333;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        font-family: arial, helvetica, sans-serif;
        font-size: 1.3em;
    }

</style>
