<div class="general">
  <p><%= t("devise.mailer.invitation_instructions.hello", email: @user.email) %></p>

  <p><%#= link_to @resource.invited_by.name, single_user_url(@resource.invited_by) %></p>

  <p><%= t("devise.mailer.invitation_instructions.someone_invited_you_html", url: root_url, inviter: link_to(@user.invited_by.name, single_user_url(@user.invited_by)).html_safe ) %></p>

  <p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@user, :invitation_token => @token) %></p>

  <% if @user.invitation_due_at %>
      <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
  <% end %>

  <p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
</div>


<style>
    .general {
        max-width: 600px;
        padding: 20px;
        border: 1px solid #999;
        border-radius: 5px;
        text-align: center;
        line-height: 1.7em;
        margin: 0px auto;
        font-family: verdana, arial, helvetica, sans-serif;
    }

    a {
        text-decoration: none;
        color: #0055ff;
    }

    .invitation_letter {
        color: #e0f;
    }
</style>