<div class="row">
  <div class="col-md-4">
    <%= render 'inbox_trash' %>
  </div>

    <div class="col-md-5">

      <% @conversation.participants.each do |participant| %>
        <% if participant != current_user %>
          conversation with: <%= participant.name %>
        <% end %>
      <% end %>


      <h3><%= @conversation.subject %></h3>

      <div class="conversation_box">

      <%= content_tag_for(:div, @conversation.receipts_for(current_user).order(:created_at => :desc)) do |receipt| %>
        <% message = receipt.message %>
          <div class="conversation_content">
              <span class="gravatar">
                    <%# if message.sender.avatar_url.nil? %>
                        <%#= image_tag message.sender.gravatar_url, width: '32', class: 'img-rounded' %>
                    <%# else %>
                        <%#= image_tag message.sender.avatar.thumb, width: '32', class: 'img-rounded' %>
                    <%# end %>
              </span>

                <%= simple_format(auto_link(strip_tags(message.body))) %>

                  <small>
                    <%= link_to message.sender.name, single_user_path(message.sender) %>
                    <%= message.created_at.strftime('%e.%m.%Y at %H:%M') %>
                  </small>
          </div>

      <% end %>
    </div>
      <br><br>
      <%= render 'messages/form', :conversation => @conversation %>

    </div>
</div>