
<h4>notifications</h4>
<% @notifications.each do |notification| %>

    <% if notification.is_unread?(current_user) %>
        <div id="notification_box" onmouseout="<%= notification.mark_as_read current_user %>" style="background: #eee; padding: 10px; padding-left: 15px; border: 1px solid #ccc; border-radius: 5px;">
            <small><%= notification.subject %></small><br>
            <%= notification.body.html_safe %><br>
            <small><%= notification.created_at.strftime('%d.%m.%y %H:%M') %></small><br>
        </div>

    <% else %>
        <div style="padding: 10px; padding-left: 15px; border: 1px solid #efefef; border-radius: 5px;">
        <small><%= notification.subject %></small><br>
        <%= notification.body.html_safe %><br>
        <small><%= notification.created_at.strftime('%d.%m.%y %H:%M') %></small><br>
        </div>
    <% end %>

<% end %>
