<div class="container">
    <div class="general">
        <b><%= @user.follower.name %> is your new relationship</b>
    </div>
    <div class="general">
        Hi, <%= @user.followed.name %>! <br>
        You've got a new connection!      <br>
        Don't worry, it's just <%= @user.follower.name %>.  <br>
    </div>

    <div class="general">
        checkout what <%= @user.follower.name %> has to say: <br>
        <a href="<%= root_url %><%= @user.follower.slug %>"><%= root_url %><%= @user.follower.slug %></a>
    </div>

    <div class="general">
        Kind regards <br>
        <b>ist-ur.org</b>
    </div>
</div>

<style>

    .container {
        max-width: 500px;
        border: 1px solid #999;
        border-radius: 5px;
        margin: 0px auto;
    }

    .general {
        padding: 20px;
        text-align: center;
        line-height: 1.6em;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 1.0em;
    }

    a {
        text-decoration: none;
        color: #0055ff;
    }

    .comment_body {
        background-color: #eee;
        color: #333;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        font-family: arial, helvetica, sans-serif;
        font-size: 1.3em;
    }

</style>
