<div class="row">
  <div class="col-md-4">
    <h4><%= @group.name %></h4>
    <%#= @group.maintainer?(@group.id, current_user) %>
    <%= @group.description %><br>
    <% if @group.membership?(@group, current_user) %>
        <br>
        <span>
          <%#= @group.maintainer?(@group.id, current_user.id).inspect %>
        </span>
        <br>
        <span id="group_form">
            <%= render 'shared/group_chat_form' %>
        </span>
        <span class="join_group">
            <%= render 'groups/unjoin' %>
        </span>
        <span id="member_count">
            <%= pluralize @group.users.count, 'member' %>
        </span>
      </div>
      <div class="col-md-6">
        <div id="infinite-scrolling">
          <%#= paginate @microposts, :outer_window => 3 %>
        </div>
        <span id="group_postings">
            <b><%= @group.name %></b><br>
            <ol class="microposts">
              <div id="group_posts" data-channel="new_group" data-group-id="<%= @group.id %>">
                <%= render @group.microposts.reorder(id: :asc) %>
              </div>
            </ol>
        </span>
      </div>
    <% else %>
        <span class="join_group">
            <%= render 'groups/join' %>
        </span>
    <% end %>
    </div>
</div>

<style>
  #group_posts {
    max-height: 450px;
    overflow-y: auto;
  }

</style>
