<%	 provide(:title, 'registered users') %>
<div class="row">
  <div class="col-md-8">
    <div style="height: 300px; overflow-y: auto;">
      <div class="panel panel-default">
        <div class="panel-heading">Registered Users</div>
          <%# if user_signed_in? %>

              <table class="table">
                <thead>
                <tr>
                  <th>index</th>
                  <th>avatar</th>
                  <th>id</th>
                  <th>name</th>
                  <th>email</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @users.each_with_index do |user, index| %>
                <tr>
                  <td><%= index +=1 %></td>
                  <% if user.avatar_url.nil? %>
                    <td><%= image_tag user.gravatar_url, class: 'img-rounded', width: 40 %></td>
                  <% else %>
                      <td><%= image_tag user.avatar.thumb, class: 'img-rounded', width: 40 %></td>
                  <% end %>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td>
                    <%#= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                                "data-sid" => current_user.id, "data-rip" => user.id %>
                  </td>
                </tr>
                <% end %>
                </tbody>
              </table>

<%# end %> </div>
        </div>
      </div>
        <br clear="all" />
          <hr>



  </div>
</div>

