<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">

        <%= render 'shared/post_avatar' %>
      <h4><%= @user.name %></h4>
    </section>
    <section>
      <strong>posts: <%= @user.microposts.count %></strong>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>

    <% if user_signed_in? %>
        <section class="well-lg">
          <%= render 'follow_form' %>
          <%#= render 'shared/sendmessage' %>
        </section>
    <% end %>
  </aside>
  <div class="col-md-6">

    <% if @user.microposts.any? %>
        <h4> posts (<%= @user.microposts.count %>) </h4>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>

        <%= will_paginate @microposts, :renderer => BootstrapPagination::Rails %>
    <% end %>
  </div>
</div>