<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-6 col-md-push-4">
    <% if user_signed_in? && current_user == @user %>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    <% end %>
    <% @feed.each do |feed_element| %>
      <% if feed_element.class == Micropost %>
        <section class="microposts h-entry">
          <%= render 'microposts/micropost', micropost: feed_element %>
        </section>
      <% elsif feed_element.trackable_type != 'Micropost' %>
        <section>
          <%= render 'shared/activities', activity: feed_element %>
        </section>
      <% end %>
    <% end %>
  </div>
  <aside class="col-md-4 col-md-pull-6">
    <% if @user == current_user %>
      <%= render 'shared/sidebar' %>
    <% else %>
      <%= render 'shared/user_show_sidebar' %>
    <% end %>

  </aside>
</div>