<section class="sidebar_kasten">
<%= render 'shared/avatar_profile' %>

<h3><%= current_user.name %></h3>

</section>
<%#= link_to 'view my profile', current_user %>
<b><%#= 'My Groups:' %></b><br>

<% if !@latest_photo_comments.empty? %>
    <section class="sidebar_kasten">
      <b>Newsfeed</b>
      <% @latest_photo_comments.each do |latest_comment|%>
          <%= render 'public_activity/photo_comment/create', activity: latest_comment %>
      <% end %>
    </section>
<% end %>

<% if !@galleries.empty? %>
    <section class="sidebar_kasten">
      <span class="glyphicon glyphicon-picture"></span>
      My Galleries:<br>
      <% @galleries.each do |gallery| %>

        <%= link_to gallery.title, photo_gallery_path(gallery) %><br>
      <% end %>
    </section>
<% end %>

<section class="sidebar_kasten">
  <a href="/messages" style="color: #000;">
    <span class="glyphicon glyphicon-envelope"></span>
    messages
    <% if current_user.mailbox.inbox({:read => false}).count != 0 %>
        <span class="badge"><%= current_user.mailbox.inbox({ :read => false }).count.to_s %></span>
    <% end %>
  </a>
</section>

<section class="sidebar_kasten">
  <span class="glyphicon glyphicon-bell"></span>
  <%= link_to notifications_index_path, style: 'color: #000' do %>
    notifications
    <% if current_user.mailbox.notifications(:read => false ).count != 0 %>
        <span class="badge"><%= current_user.mailbox.notifications(:read => false).count %></span>
    <% end %>
  <% end %>
</section>

<!--
<section class="well well-sm">
  <%# current_user.groups.each do |my_group| %>
      <%#= link_to my_group.name, group_path(my_group) %><br>
  <%# end %>
</section>
-->