<section class="sidebar_kasten">

  <%= render 'shared/post_avatar' %>
  <h4><%= @user.name %></h4>
</section>

<% if @user.custom_appearance.blogrolls.count > 0 %>
  <section class="sidebar_kasten">
    <b>Blogroll</b>
    <% @user.custom_appearance.blogrolls.each do |b| %>
      <div>
        <small>
          <%= link_to b.url, b.url %>
        </small>
      </div>
    <% end %>
  </section>
<% end %>

<% if user_signed_in? && current_user != @user %>
  <section class="sidebar_kasten">
    <%= render 'users/follow_form' %>
  </section>
<% end %>

<% if !sidebar_activities(@user).empty? %>
  <section class="sidebar_kasten">
    <b>Newsfeed</b>
    <br>
    <%= render 'shared/sidebar_activities', sidebar_activities: sidebar_activities(@user) %>
    <%# latest_photo_comments(current_user).inspect %>
    <%# latest_photo_comments(@user).each do |latest_comment|%>
    <%#= render 'public_activity/photo_comment/create', activity: latest_comment %>
    <%# end %>
  </section>
<% end %>

<% if !user_photo_galleries(@user).empty? %>
  <section class="sidebar_kasten">
    <span class="glyphicon glyphicon-picture"></span>
    galleries:<br>
    <% user_photo_galleries(@user).each do |gallery| %>
      <%= link_to gallery.title, photo_gallery_path(gallery) %><br>
    <% end %>
  </section>
<% end %>

<% if user_signed_in? %>
  <!--    <section class="sidebar_kasten">
      <%= render 'shared/sendmessage' %>
    </section>-->
<% end %>
<section class="sidebar_kasten">
  <%= render 'shared/stats' %>
</section>
