<section class="sidebar_kasten">

  <%= render 'shared/post_avatar' %>
  <h4><%= @user.name %></h4>
</section>
<section class="sidebar_kasten">
  <% if user_signed_in? %>
      <%= render 'users/follow_form' %>
  <% end %>
</section>
<section class="sidebar_kasten">
  <%= render 'shared/stats' %>
</section>
<section class="sidebar_kasten">
  <% if user_signed_in? %>
      <%= render 'shared/sendmessage' %>
  <% end %>
</section>
