<%= render 'shared/avatar_profile' %>

<h3><%= current_user.name %></h3>
<div><%= pluralize(current_user.microposts.count, 'post') %></div>
<div><%= link_to 'view my profile', current_user %></div>
<div class="btn btn-default">
  <a href="/messages">
    <span class="glyphicon glyphicon-envelope"></span>
    messages
    <% if current_user.mailbox.inbox({:read => false}).count != 0 %>
        <span class="badge"><%= current_user.mailbox.inbox({ :read => false }).count.to_s %></span>
    <% end %>
  </a>
</div>

