<section class="sidebar_kasten">

  <%= render 'shared/post_avatar' %>
  <h4><%= @user.name %></h4>
</section>
<% if user_signed_in? %>
    <section class="sidebar_kasten">
        <%= render 'users/follow_form' %>
    </section>
<% end %>
<section class="sidebar_kasten">
  <%= render 'shared/stats' %>
</section>
<% if user_signed_in? %>
    <section class="sidebar_kasten">
        <%= render 'shared/sendmessage' %>
    </section>
<% end %>