
<% if activity.trackable %>
    <% comm = Scalpel.cut activity.trackable.comment.body %>

    <small>
      <div>
        <%= link_to photo_path(activity.trackable.photo) do %>
            <%= comm[0].split.each_slice(1).map{|a|a.join ' '}[0] %>
            <%= comm[0].split.each_slice(1).map{|a|a.join ' '}[1] %>
            <%= comm[0].split.each_slice(1).map{|a|a.join ' '}[2] %>
        <% end %>
        ...
        <%= activity.trackable.comment.user.name %>
        <%= activity.created_at.strftime('%H:%M %d.%m.') %>
      </div>
    </small>
<% else %>
<% end %>