<div style="width: 100%;">

  <p style="align-content: center; width: 500px; background: #eee; padding: 10px; border-radius: 5px;">
      <h5>
        Sie wurden erwähnt, wohoo!!
      </h5>
  </p>

  <p style="align-content: center; width: 500px; background: #eee; padding: 10px; border-radius: 5px; font-size: 13px; font-family: sans-serif;">
    Hi, <%= @user.name %>,
    <%= @post_writer.name %>
    mentioned you in a comment:<br>
    <a href="<%= root_url %><%= @post_writer.slug %>/<%= @post.id %>"><%= root_url %><%= @post_writer.slug %>/<%= @post.id %></a>
  </p>
  <p style="align-content: center; width: 500px; background: #eee; padding: 10px; border-radius: 5px; font-size: 13px; font-family: sans-serif;">
    <%= @mentioner.body %>
  </p>

</div>


