<div class="container">

  <div class="general">
      <b>
        Sie wurden erwähnt
      </b>
  </div>

  <div class="general">
    Hi <b><%= @user.name %></b>,
    <%= @mentioner.user.name %>
    mentioned you in a comment

  </div>
  <div class="general">
    <a href="<%= root_url %><%= @post.user.slug %>/<%= @post.id %>"><%= root_url %><%= @post.user.slug %>/<%= @post.id %></a>
  </div>
  <div class="general comment_body">
    <%= @mentioner.body %>
  </div>

</div>


<style>

    .container {
        max-width: 500px;
        border: 1px solid #999;
        border-radius: 5px;
        margin: 0px auto;
    }

    .general {
        padding: 20px;
        text-align: center;
        line-height: 1.6em;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 1.0em;
    }

    a {
        text-decoration: none;
        color: #0055ff;
    }

    .comment_body {
        background-color: #eee;
        color: #333;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        font-family: arial, helvetica, sans-serif;
        font-size: 1.3em;
    }

</style>

