<h4>Mentions</h4>

<p>
  Hi, <%= @user.name %>,
  <%= @writer.name %>
  mentioned you here:<br>
  <a href="<%= root_url %><%= @writer.slug %>/<%= @mentioner.id %>"><%= root_url %><%= @writer.slug %>/<%= @mentioner.id %></a>
</p>


