<div class="overlay">

    <%= image_tag @photo.picture, class: 'modus' %>

</div>

<div class="row">
  <p class="text-center">

        <%= link_to 'previous', photo_path(@previous) unless @previous.nil? %>
        <a data-overlay-trigger="" href="#!">
            <%= image_tag @photo.picture, class: 'single_photo' %>
        </a>
        <%= link_to 'next', photo_path(@next) unless @next.nil? %>

  </p>
</div>

<div class="row">
  <div class="col-md-4">

  </div>
</div>
<div class="row">
  <div class="col-md-4">


  </div>
  <div class="col-md-6">
  <% @gallery.each do |photo| %>

        <%= link_to photo_path(photo) do %>
            <%= image_tag photo.picture.thumb, class: 'thumb_line' %>
        <% end %>

  <% end %>
  </div>
</div>
<hr class="haer">
<div class="row">

  <div class="col-md-1">
    <% @photo_users.each do |user| %>
        <% if user.avatar_url.nil? %>
            <%= image_tag user.gravatar_url, width: 32, class: 'img-rounded' %><br>
        <% else %>
            <%= image_tag user.avatar.thumb, class: 'img-rounded', width: 32 %><br>
        <% end %>
        <small><%= link_to user.name, single_user_path(user) %></small>
    <% end %>
  </div>
  <div class="col-md-5">
    <b><%= link_to @photo.photo_gallery.title, photo_gallery_path(@photo.photo_gallery), class: 'special_link_color' %></b>
  </div>
</div>

<style>
  .single_photo {
      max-width: 50%;
  }

    .sp {
        max-width: 500px;
    }

    .thumb_line {
        width: 29px;
        -moz-transition: 0.3s ease-out;
    }

        .thumb_line:hover {
            width: 53px;
        }

        .special_link_color {
            color: #000;
        }

        hr.haer {
            border-top: 1px solid #eff;
        }

</style>

<script>
    $(document).ready(function() {
        $('.overlay').overlay();
    })
</script>