<%= form_for(@comment, html: { multipart: true}, remote: true ) do |f| %>
    <div class="form-group">
      <%= render 'shared/error_messages', object: f.object  %>

      <div class="field">
        <span class="glyphicon glyphicon-comment"></span>
        <%= f.label :comment %><br>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <div>

        <%= f.hidden_field :micropost_id, :value => @micropost.id %>

      </div>
      <div class="actions">
        <%= f.submit 'Hopp', class: 'btn btn-default' %>
      </div>
    </div>
<% end %>

<script>
    $(function(){
        data = [];
        <% User.find_each do |user| %>
            data.push('<%= user.slug %>');
        <% end %>
        $('textarea').atwho({at:"@", 'data':data});
    });
</script>
