<!--<li id="micropost-<%#= micropost.id %>">-->
<%= content_tag_for :li, micropost do %>
    <span class="gravatar">
      <% if micropost.user.avatar_url.nil? %>
        <%= link_to image_tag(micropost.user.gravatar_url, width: 50), micropost.user %>
      <% else %>
        <%= link_to image_tag(micropost.user.avatar, width: 50), micropost.user %>
      <% end %>
    </span>
    <span class="user"><small><%= link_to micropost.user.name, single_user_path(micropost.user) %></small></span>
    <span class="content">
      <%#= mention_link simple_format(auto_link(strip_tags(micropost.content))) %>
      <%= mention_link micropost.content_html %>
      <%= image_tag micropost.picture.url, class: 'uploaded_image' if micropost.picture? %>
    </span>
    <span class="timestamp">
      <small>
        Posted <%= time_ago_in_words(micropost.created_at) %> ago |
        <% if current_user == micropost.user %>
            <%= link_to 'edit', edit_micropost_path(micropost.id) %> |
            <%= link_to 'delete', micropost, method: :delete, data: { confirm: 'you sure?' } %> |

        <% end %>

        <%= link_to pluralize(micropost.comments.count.to_s, 'comment'), user_post_path(slug: micropost.user.slug, id: micropost.id) %>
        <% if user_signed_in? %>
            <span id="like-<%= micropost.id %>">
                <% if micropost.liked_by?(current_user) == true %>
                    <%= render partial: 'microposts/unlike', locals: { m_id: micropost.id } %>
                <% else %>
                    <%= render partial: 'microposts/like', locals: { m_id: micropost.id } %>
                <% end %>
            </span>

        <% end %>
        | <span id="likes_count-<%= micropost.id %>"><%= pluralize micropost.likers(User).count, 'like' %></span>
      </small>

    </span>

<!--</li>-->
<% end %>
