<!--<li id="micropost-<%#= micropost.id %>">-->
<%= content_tag_for :li, micropost do %>
    <span class="gravatar">
      <% if micropost.user.avatar_url.nil? %>
        <%= link_to image_tag(micropost.user.gravatar_url, width: 50), micropost.user %>
      <% else %>
        <%= link_to image_tag(micropost.user.avatar, width: 50), micropost.user %>
      <% end %>
    </span>
    <span class="user"><small><%= link_to micropost.user.name, single_user_path(micropost.user) %></small></span>
    <span class="content">
      <%#= mention_link simple_format(auto_link(strip_tags(micropost.content))) %>
      <%= mention_link micropost.content_html %>
      <%= image_tag micropost.picture.url, class: 'uploaded_image' if micropost.picture? %>
      <%#= micropost.picture? %>
      <%#= micropost.picture.url %>
      <% if micropost.photos.count > 1 %>
          <%= true %>
      <% else %>
          <%= false %>
      <% end %>
      <% micropost.photos.each do |photo| %>

        <%= image_tag photo.picture, class: 'uploaded_image' if photo.picture? %>
        <%#= photo.picture %>
      <% end %>
    </span>
    <span class="timestamp">
      <small>
        Posted <%= time_ago_in_words(micropost.created_at) %> ago |
        <% if current_user == micropost.user %>
            <%= link_to 'edit', edit_micropost_path(micropost.id) %> |
            <%= link_to 'delete', micropost, method: :delete, data: { confirm: 'you sure?' } %> |

        <% end %>

        <%= link_to pluralize(micropost.comments.count.to_s, 'comment'), user_post_path(slug: micropost.user.slug, id: micropost.id) %>
        <% if user_signed_in? %>
            <span id="like-<%= micropost.id %>">
                <% if micropost.liked_by?(current_user) == true %>
                    <%= render partial: 'microposts/unlike', locals: { m_id: micropost.id } %>
                <% else %>
                    <%= render partial: 'microposts/like', locals: { m_id: micropost.id } %>
                <% end %>
            </span>

        <% end %>
        |
        <span id="likes_count-<%= micropost.id %>" onmouseover="like(<%= micropost.id %>);" onmouseout="hideTheLikeBox(<%= micropost.id %>);">
            <%= pluralize micropost.likers(User).count, 'like' %>
        </span>


        <span id="the_likers_count-<%= micropost.id %>">
            <%= render partial: 'likes/the_likers_count', locals: { micropost: micropost } %>
        </span>

      </small>

    </span>

<!--</li>-->
<% end %>

<style type="text/css">
    #likeBox-<%= micropost.id %> {
        display: none;
        z-index: 50;
        position: absolute;
        top: 0px;
        left: 10px;
        background: #ffc;
        margin-left: 80%;
        border: 1px solid #a6e1ec;
        border-radius: 5px;
    }

    #likeBox-<%= micropost.id %> ul {
        list-style: none;
        color: #000;
        border: 0px;
        padding: 0px;
        padding-left: 10px;
    }

</style>

<script>

  var oInt;

  function like(iX) {
      clearInterval(oInt);
      document.getElementById('likeBox-' + iX ).style.display = 'block';
  }

  function hideTheLikeBox(iX) {
      document.getElementById('likeBox-' + iX).style.display = 'none';
  }

  function hideBox(iX) {
      clearInterval(oInt);
      oInt = setInterval('hideTheLikeBox()', 1000);
  }

</script>
