<li id="micropost-<%= micropost.id %>">
    <span class="gravatar">
      <% if micropost.user.avatar_url.nil? %>
        <%= link_to image_tag(micropost.user.gravatar_url, width: 50), micropost.user %>
      <% else %>
        <%= link_to image_tag(micropost.user.avatar, width: 50), micropost.user %>
      <% end %>
    </span>
    <span class="user"><%= link_to micropost.user.name, single_user_path(micropost.user) %></span>
    <span class="content">
      <%= simple_format(auto_link(strip_tags(micropost.content))) %>
      <%= image_tag micropost.picture.url, class: 'uploaded_image' if micropost.picture? %>
    </span>
    <span class="timestamp">
      <small>
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user == micropost.user %>
            <%= link_to 'edit', edit_micropost_path(micropost.id) %> |
            <%= link_to 'delete', micropost, method: :delete, data: { confirm: 'you sure?' } %> |

        <% end %>
        <%= link_to pluralize(micropost.comments.count.to_s, 'comment'), user_post_path(:slug => micropost.user, :id => micropost.id) %>

      </small>

    </span>

</li>