<!--<li id="micropost-<%#= micropost.id %>">-->
<%= content_tag_for :li, micropost do %>
    <span class="gravatar">
      <% if micropost.user.avatar_url.nil? %>
        <%= link_to image_tag(micropost.user.gravatar_url, width: 50), micropost.user %>
      <% else %>
        <%= link_to image_tag(micropost.user.avatar, width: 50), micropost.user %>
      <% end %>
    </span>
    <span class="user"><small><%= link_to micropost.user.name, single_user_path(micropost.user) %></small></span>
    <span class="content">
      <%#= mention_link simple_format(auto_link(strip_tags(micropost.content))) %>
      <%= mention_link micropost.content_html %>
      <%= image_tag micropost.picture.url, class: 'uploaded_image' if micropost.picture? %>
      <%#= micropost.picture? %>
      <%#= micropost.picture.url %>
      <% if micropost.photos.count > 1 %>

          <div id="owl-demo-<%= micropost.id %>" class="owl-carousel">

            <% micropost.photos.each do |photo| %>
                <div><%= image_tag photo.picture, class: 'uploaded_image' if photo.picture? %></div>
            <% end %>
          </div>
      <% else %>

          <% micropost.photos.each do |photo| %>
                <div><%= image_tag photo.picture, class: 'uploaded_image' if photo.picture? %></div>
            <% end %>
      <% end %>

    </span>

    <span class="timestamp">
      <small>
        Posted <%= time_ago_in_words(micropost.created_at) %> ago |
        <% if current_user == micropost.user %>
            <%= link_to 'edit', edit_micropost_path(micropost.id) %> |
            <%= link_to 'delete', micropost, method: :delete, data: { confirm: 'you sure?' } %> |

        <% end %>

        <%= link_to pluralize(micropost.comments.count.to_s, 'comment'), user_post_path(slug: micropost.user.slug, id: micropost.id) %>
        <% if user_signed_in? %>
            <span id="like-<%= micropost.id %>">
                <% if micropost.liked_by?(current_user) == true %>
                    <%= render partial: 'microposts/unlike', locals: { m_id: micropost.id } %>
                <% else %>
                    <%= render partial: 'microposts/like', locals: { m_id: micropost.id } %>
                <% end %>
            </span>

        <% end %>
        |
        <span id="likes_count-<%= micropost.id %>"> <!--onmouseover="like(<%#= micropost.id %>);" onmouseout="hideTheLikeBox(<%#= micropost.id %>);">-->
            <%= pluralize micropost.likers(User).count, 'like' %>
        </span>


        <span id="the_likers_count-<%= micropost.id %>">
            <%= render partial: 'likes/the_likers', locals: { micropost: micropost } %>
        </span>


      </small>

    </span>

<!--</li>-->
<% end %>

<style type="text/css">
/*    #likeBox-<%#= micropost.id %> {
        display: block;
        width: 400px;
        position: relative;
        /!*right: 500px;*!/
        background: #ffc;
        margin-left: 80%;
        border: 1px solid #a6e1ec;
        border-radius: 5px;
        opacity: 0.92;
    }

    #likeBox-<%#= micropost.id %> ul {

        list-style: circle;
        color: #000;
        border: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }*/

/*
 * the owl css
 *
 */

    #owl-demo-<%= micropost.id %> .owl-item div{
        padding:5px;
    }
    #owl-demo-<%= micropost.id %> .owl-item img{
        display: block;
        max-width: 100%;
        height: auto;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

</style>

<script>

/*  var oInt;

  function like(iX) {
      clearInterval(oInt);
      document.getElementById('likeBox-' + iX ).style.display = 'block';
  }

  function hideTheLikeBox(iX) {
      document.getElementById('likeBox-' + iX).style.display = 'none';
  }

  function hideBox(iX) {
      clearInterval(oInt);
      oInt = setInterval('hideTheLikeBox()', 1000);
  }*/

  /*
   *
   * the owl carousel
   *
   * */



  $(document).ready(function() {

      $("#owl-demo-<%= micropost.id %>").owlCarousel({
          autoPlay: 3000,
          navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem:true,
          autoHeight: true
          // "singleItem:true" is a shortcut for:
          // items : 1,
          // itemsDesktop : false,
          // itemsDesktopSmall : false,
          // itemsTablet: false,
          // itemsMobile : false

      });

  });


</script>
