<div class="row">
  <div class="col-md-4">
        <%#= render 'shared/user_info' %>
  </div>

  <div class="col-md-6">
    <ol class="microposts">
      <%= render @micropost %>
    </ol>
    <ol class="comments">
      <% @comments.each do |comment| %>
          <%= comment.body %><br>
          <small>
            <%= link_to comment.user.name, comment.user %> am
            <%= comment.created_at.strftime('%d.%m.') %> um
            <%= comment.created_at.strftime('%H:%M') %>
          </small><br><br>
      <% end %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-4">

  </div>

  <div class="col-md-6">
    <% if user_signed_in? %>
        <ol class="">
          <%= render 'shared/comments_form' %>
        </ol>
    <% end %>
  </div>
</div>
