<div class="row">
  <div class="col-md-4">
        <%= render 'shared/single_post_avatar' %>
  </div>

  <div class="col-md-6">
    <ol class="microposts">
      <%= render @micropost %>
    </ol>
    <ol class="microposts">
      <%= render @comments %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-4">

  </div>

  <div class="col-md-6">
    <div id="new-comment"></div>
    <% if user_signed_in? %>
        <ol class="">
          <%= render 'comments_form' %>
        </ol>
    <% else %>
        <ol class="">
          <%= link_to 'sign in', new_user_session_path %>
          or
          <%= link_to 'sign up', new_user_registration_path %><br>
          for leaving a comment
        </ol>
    <% end %>
  </div>
</div>
