<div class="row">
  <div class="col-md-6 col-md-push-4">
    <ol class="microposts h-entry">
      <%= render @micropost %>
    </ol>
    <ol class="microposts">
      <%= render @comments %>
      <div id="new-comment"></div>
    </ol>
    <% if user_signed_in? %>
        <ol class="create_comment">
          <%= render 'comments_form' %>
        </ol>
        <div id="email_notification">
          <% if @email_notification.id.nil? %>
              <%= render partial: 'email_notifications/create', locals: {micropost_id: @micropost.id} %>
          <% else %>
              <%= render partial: 'email_notifications/update', locals: {micropost_id: @micropost.id} %>
          <% end %>
        </div>
    <% else %>
        <ol class="">
          <%= link_to 'sign in', new_user_session_path %>
          or
          <%= link_to 'sign up', new_user_registration_path %><br>
          for leaving a <span class="glyphicon glyphicon-comment"></span> comment
        </ol>
    <% end %>
  </div>
  <div class="col-md-4 col-md-pull-6">
    <%= render 'shared/user_show_sidebar' %>
  </div>
</div>

<style>

</style>
