<div class="row">
  <div class="col-md-4">
        <%#= render 'shared/single_post_avatar' %>
    <% if user_signed_in? %>
        <%= render 'shared/sidebar' %>
    <% else %>
        <%#= render 'shared/user_show_sidebar' %>
        <section class="sidebar_kasten">
            <% if @micropost.user.avatar_url.nil? %>
                <%= image_tag(@micropost.user.gravatar_url, width: 80, class: 'img-rounded') %>
            <% else %>
                <%= image_tag(@micropost.user.avatar, width: 80, class: 'img-rounded') %>
            <% end %>
        </section>
        <section class="sidebar_kasten">
          <%= render partial: 'microposts/stats', locals: { user: @micropost.user } %>
        </section>
    <% end %>
  </div>

  <div class="col-md-6">
    <ol class="microposts">
      <%= render @micropost %>
    </ol>
    <ol class="microposts">
      <%= render @comments %>
      <div id="new-comment"></div>
    </ol>
    <% if user_signed_in? %>
        <ol class="create_comment">
          <%= render 'comments_form' %>
        </ol>
    <% else %>
        <ol class="">
          <%= link_to 'sign in', new_user_session_path %>
          or
          <%= link_to 'sign up', new_user_registration_path %><br>
          for leaving a <span class="glyphicon glyphicon-comment"></span> comment
        </ol>
    <% end %>
  </div>
</div>
