<h1>Listing photo_galleries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_galleries.each do |photo_gallery| %>
      <tr>
        <td><%= photo_gallery.title %></td>
        <td><%= photo_gallery.description %></td>
        <% photo_gallery.users.each do |u| %>
            <td><%= u.name %></td>
              <% end %>
        <td><%= link_to 'Show', photo_gallery %></td>
        <td><%= link_to 'Edit', edit_photo_gallery_path(photo_gallery) %></td>
        <td><%= link_to 'Destroy', photo_gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo gallery', new_photo_gallery_path %>
