<div class="row">

  <div class="col-md-1">
    <p id="notice"><%= notice %></p>
    <% @photo_gallery.users.each do |user| %>
        <% if user.avatar_url.nil? %>
            <%= image_tag user.gravatar_url, width: 32, class: 'img-rounded' %>
        <% else %>
            <%= image_tag user.avatar.thumb, class: 'img-rounded', width: 32 %>
        <% end %>
        <small><%= link_to user.name, single_user_path(user) %></small>
    <% end %>

  </div>
  <div class="col-md-5">

      <b><%= @photo_gallery.title %></b><br>

      <%= @photo_gallery.description %>

  </div>
</div>
<hr>
<div class="row">

    <% i = 0 %>

    <% @photos.each do |photo| %>
        <% i = i +1 %>
        <% inti = i.to_s %>
            <%= link_to photo_path(photo) do %>
                <%= image_tag(photo.picture, id: 'image' + inti, class: 'img') %>
            <% end %>
    <% end %>

</div>

<hr>

<%= link_to 'Edit', edit_photo_gallery_path(@photo_gallery) %> |
<%= link_to 'Back', request.referer %>

<style>
    .fullscreen:-moz-full-screen {
        width: auto !important;
        height: auto !important;
        margin:auto !important;
    }

        .img {
            max-height: 150px;
            margin: 15px;

        }
</style>

<script>

    function full() {

        console.log(document.getElementById('image1'));
        var image_element = document.getElementById('image1');
        if (document.fullscreenEnabled) {
            console.log('true');
        } else if (document.mozFullScreenEnabled) {
            //console.log('mozFull');
            image_element.mozRequestFullScreen();
        }
    }
</script>
