<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content="<%= user_signed_in? ? current_user.id : '' %>" name="user-id" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <b><%= link_to 'ist - ur . org', root_path, class: 'navbar-brand' %></b>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Home', home_path %></li>
      <% if user_signed_in? %>
          <li><%= image_tag current_user.gravatar_url, class: 'img-rounded', width: 47 %></li>
          <li><%= link_to current_user.name, edit_user_registration_path %></li>
          <li><%= link_to 'logout', destroy_user_session_path, :method => :delete %> </li>
      <% else %>
          <li><%= link_to 'login', new_user_session_path %></li>
          <li><%= link_to 'register', new_user_registration_path %></li>
      <% end %>
    </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <% flash.each do |key, value| %>
          <% if key == 'notice' %>
            <div class="alert alert-success col-md-4">
              <b><%= value %></b>
            </div>
          <% elsif key == 'alert' %>
            <div class="alert alert-danger col-md-4">
              <b><%= value %></b>
            </div>
          <% else %>
            <div class="alert alert-warning col-md-4">
              <b><%= value %></b>
            </div>
          <% end %>

      <% end %>
  </div>

    <%= yield %>

</div>

</body>
</html>
