<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="">
  <meta name="author" content="">
  <meta property="og:title" content="<%= yield(:title) %>">
  <meta property="og:image" content="<%= image_url yield(:image) %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="ist-ur.org">
  <meta name="twitter:title" content="<%= yield(:title) %>">
  <meta name="twitter:image" content="<%= image_url yield(:image) %>">
  <meta content="<%= user_signed_in? ? current_user.id : '' %>" name="user-id" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    body {
        /*margin-top: 100px;*/
    }
  </style>

</head>
<body>
<div id="navigation_id">
  <%= render 'shared/nav' %>
</div>
<div class="container">
  <div class="row">
    <div class="unobtrusive-flash-container col-md-4"></div>
  </div>
  <div>
    <ul id="search_results_div" class="list-group"></ul>
  </div>
  <%= yield %>
</div>

<hr>

<div class="container text-center">

  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          © 2015 |
          <%= link_to 'about us', about_path %> |
          <%= link_to 'contact us', new_contact_path %>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li></li>

        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">


        </ul>
      </div>

    </div>
  </div>
  <hr>
  <!--<div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-pills nav-justified">
        <li><a href="/">© 2013</a></li>
        &lt;!&ndash;
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy</a></li>
        &ndash;&gt;
      </ul>
    </div>
  </div>-->
</div>

</body>

</html>
